<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Lista de roles</h4>
          <div class="row justify-content-end">
            <div class="col-md-2">
            <button class="btn btn-primary btn-block" routerLink="/dashboard/app-addrol">Agregar  <i class="now-ui-icons ui-1_simple-add"></i></button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table">

              <thead class=" text-primary">
                <th>Nombre</th>
                <th>Estado</th>
                <th class="text-right">Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let rol of roles">
                  <td>{{rol.nomrol}}</td>
                  <td *ngIf= "rol.estado == 1">Activo</td>
                  <td *ngIf= "rol.estado == 0">Inactivo</td> 
                  <td class="text-right"><a type="button" class="btn btn-warning" [routerLink]="['/dashboard/app-editrol', rol.idrol]"><i class="now-ui-icons design-2_ruler-pencil"></i></a></td>
                  <td><a type="button" class="btn btn-danger" (click)="eliminarRol(rol.idrol)"><i class="now-ui-icons ui-1_simple-remove"></i></a></td>                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>